# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ====== tbc-front ======
tbc-front/index.html
tbc-front/package-lock.json
tbc-front/package.json
tbc-front/src/App.tsx
tbc-front/src/index.css
tbc-front/src/main.tsx
tbc-front/tsconfig.app.json
tbc-front/tsconfig.json
tbc-front/tsconfig.node.json
tbc-front/vite.config.ts
